fact
sum_array
sum_array
contapari
sum_array
find_max
stringa_cmp
countzero
reduce
string
change
maius
crea_arr
matrice
map
test_mat
strin_lis
pippare
list
binarysearch
equazione
contacar
lengthlis
longest
